@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(242, 237, 237);
}


#layoutAuthentication
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.container
{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 430px;
    border-left: 10px solid rgb(17, 17, 107);
    border-right: 10px solid rgb(17, 17, 107);
    border-radius: 15px;
}
.card-header
{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.card-header h3
{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Black Han Sans', sans-serif;
}
.card-header h4
{
    color: rgb(14, 1, 1);
    font-size: 17px;
    margin-left: 5px;
    font-family: 'Black Han Sans', sans-serif;
}


.card-body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
    padding: 20px;
}

.form-control
{   
    width: 320px;
    margin-bottom: 30px;
    height: 30px;
    
}

.card-footer
{
    width: 100%;
    height: 100%;
    margin-left: -45px;
    font-size: 25px;
}